<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>colors</key>
		<array>
			<dict>
				<key>name</key>
				<string>Silver</string>
				<key>identifier</key>
				<string>aluminumsilver1</string>
				<key>red</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string>AluminumSilverBlended</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Light Black</string>
				<key>identifier</key>
				<string>aluminumblacklt1</string>
				<key>red</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string>AluminumBlackLtBlended</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Black</string>
				<key>identifier</key>
				<string>aluminumblack1</string>
				<key>red</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string>AluminumBlackBlended</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Blue</string>
				<key>identifier</key>
				<string>aluminumblue1</string>
				<key>red</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string>AluminumBlueBlended</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Light Blue</string>
				<key>identifier</key>
				<string>aluminumbluelt1</string>
				<key>red</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string>AluminumBlueLtBlended</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Very Light Blue</string>
				<key>identifier</key>
				<string>aluminumbluevlt1</string>
				<key>red</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string>AluminumBlueVLtBlended</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Purple</string>
				<key>identifier</key>
				<string>aluminumPurple1</string>
				<key>red</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string>AluminumPurpleBlended</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Light Purple</string>
				<key>identifier</key>
				<string>aluminumpurplelt1</string>
				<key>red</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string>AluminumPurpleLtBlended</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Red</string>
				<key>identifier</key>
				<string>aluminumred1</string>
				<key>red</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string>AluminumRedBlended</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Red Rotated 90</string>
				<key>identifier</key>
				<string>aluminumred901</string>
				<key>red</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string>AluminumRed90Blended</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Light Red</string>
				<key>identifier</key>
				<string>aluminumredlt1</string>
				<key>red</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string>AluminumRedLtBlended</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Red Gold</string>
				<key>identifier</key>
				<string>aluminumredgold1</string>
				<key>red</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string>AluminumRedGoldBlended</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Gold</string>
				<key>identifier</key>
				<string>aluminumgold1</string>
				<key>red</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string>AluminumGoldBlended</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Gold Rotated 90</string>
				<key>identifier</key>
				<string>aluminumgold901</string>
				<key>red</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string>AluminumGold90Blended</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Green</string>
				<key>identifier</key>
				<string>aluminumgreen1</string>
				<key>red</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string>AluminumGreenBlended</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Light Green</string>
				<key>identifier</key>
				<string>aluminumgreenlt1</string>
				<key>red</key>
				<integer>1</integer>
				<key>green</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string>AluminumGreenLtBlended</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Hue Shifted</string>
				<key>identifier</key>
				<string>aluminumhueshift1</string>
				<key>red</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string>AluminumHueShift</string>
			</dict>
		</array>
		<key>name</key>
		<string>Metallic Textures</string>
		<key>descriptor</key>
		<string>Brushed aluminum textured colors and fills</string>
		<key>identifier</key>
		<string>metalic1textures</string>
	</dict>
</array>
</plist>
