<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>FractalScapeFractalModelTests</key>
		<dict>
			<key>testBushFractalLevel5Performance</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0063789</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 15, 2015, Jan 15, 9:35:37 PM</string>
				</dict>
			</dict>
			<key>testBushFractalLevel6Performance</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.037184</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 15, 2015, Jan 15, 9:35:37 PM</string>
				</dict>
			</dict>
			<key>testDefaultFractalLevel1Performance</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0015793</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 15, 2015, Jan 15, 9:35:37 PM</string>
				</dict>
			</dict>
			<key>testDefaultFractalLevel5Performance</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0014982</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 15, 2015, Jan 15, 9:38:48 PM</string>
				</dict>
			</dict>
			<key>testSierpinskyFractalLevel10Performance</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0082574</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 13, 2015, Jan 13, 10:55:07 AM</string>
				</dict>
			</dict>
			<key>testSierpinskyFractalLevel20Performance</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.04633</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 13, 2015, Jan 13, 10:55:07 AM</string>
				</dict>
			</dict>
			<key>testSierpinskyFractalLevel5Performance</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0022748</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 15, 2015, Jan 15, 9:38:41 PM</string>
				</dict>
			</dict>
			<key>testSierpinskyFractalLevel6Performance</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0037182</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 15, 2015, Jan 15, 9:38:33 PM</string>
				</dict>
			</dict>
			<key>testSierpinskyFractalLevel7Performance</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.01</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 15, 2015, Jan 15, 9:39:17 PM</string>
				</dict>
			</dict>
			<key>testSierpinskyFractalLevel8Performance</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.01</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 15, 2015, Jan 15, 9:39:35 PM</string>
				</dict>
			</dict>
			<key>testSierpinskyFractalLevel9Performance</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.04</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Jan 15, 2015, Jan 15, 9:38:07 PM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
