[submodule "FractalScape/MDUiKitFramework"]
	path = FractalScape/MDUiKitFramework
	url = https://taun@github.com/taun/MDUiKit.git
	branch = working
[submodule "FractalScape/MDCloudKitFramework/MDCloudKit"]
	path = FractalScape/MDCloudKitFramework/MDCloudKit
	url = https://taun@github.com/taun/MDCCloudKit.git
