<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rulesArray</key>
	<array>
		<dict>
			<key>productionString</key>
			<string>A</string>
			<key>drawingMethodString</key>
			<string>commandDoNothing</string>
			<key>iconIdentifierString</key>
			<string>kBIconRulePlace0</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>B</string>
			<key>drawingMethodString</key>
			<string>commandDoNothing</string>
			<key>iconIdentifierString</key>
			<string>kBIconRulePlace1</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>C</string>
			<key>drawingMethodString</key>
			<string>commandDoNothing</string>
			<key>iconIdentifierString</key>
			<string>kBIconRulePlace2</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>D</string>
			<key>drawingMethodString</key>
			<string>commandDoNothing</string>
			<key>iconIdentifierString</key>
			<string>kBIconRulePlace3</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>E</string>
			<key>drawingMethodString</key>
			<string>commandDoNothing</string>
			<key>iconIdentifierString</key>
			<string>kBIconRulePlace4</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>F</string>
			<key>drawingMethodString</key>
			<string>commandDrawLine</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleDrawLine</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>f</string>
			<key>drawingMethodString</key>
			<string>commandMoveByLine</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleMoveByLine</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>+</string>
			<key>drawingMethodString</key>
			<string>commandRotateCC</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleRotateCC</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>-</string>
			<key>drawingMethodString</key>
			<string>commandRotateC</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleRotateC</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>|</string>
			<key>drawingMethodString</key>
			<string>commandReverseDirection</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleReverseDirection</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>[</string>
			<key>drawingMethodString</key>
			<string>commandPush</string>
			<key>iconIdentifierString</key>
			<string>kBIconRulePush</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>]</string>
			<key>drawingMethodString</key>
			<string>commandPop</string>
			<key>iconIdentifierString</key>
			<string>kBIconRulePop</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>#</string>
			<key>drawingMethodString</key>
			<string>commandIncrementLineWidth</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleIncrementLineWidth</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>!</string>
			<key>drawingMethodString</key>
			<string>commandDecrementLineWidth</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleDecrementLineWidth</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>O</string>
			<key>drawingMethodString</key>
			<string>commandDrawDot</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleDrawDot</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>@</string>
			<key>drawingMethodString</key>
			<string>commandDrawDotFilledNoStroke</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleDrawDotFilledNoStroke</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>{</string>
			<key>drawingMethodString</key>
			<string>commandOpenPolygon</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleOpenPolygon</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>}</string>
			<key>drawingMethodString</key>
			<string>commandClosePolygon</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleClosePolygon</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>&lt;</string>
			<key>drawingMethodString</key>
			<string>commandUpscaleLineLength</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleUpscaleLineLength</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>&gt;</string>
			<key>drawingMethodString</key>
			<string>commandDownscaleLineLength</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleDownscaleLineLength</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>&amp;</string>
			<key>drawingMethodString</key>
			<string>commandSwapRotation</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleSwapRotation</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>(</string>
			<key>drawingMethodString</key>
			<string>commandIncrementAngle</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleIncrementAngle</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>)</string>
			<key>drawingMethodString</key>
			<string>commandDecrementAngle</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleDecrementAngle</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>s</string>
			<key>drawingMethodString</key>
			<string>commandStrokeOff</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleStrokeOff</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>S</string>
			<key>drawingMethodString</key>
			<string>commandStrokeOn</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleStrokeOn</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>l</string>
			<key>drawingMethodString</key>
			<string>commandFillOff</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleFillOff</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>L</string>
			<key>drawingMethodString</key>
			<string>commandFillOn</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleFillOn</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>r</string>
			<key>drawingMethodString</key>
			<string>commandRandomizeOff</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleRandomizeOff</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>R</string>
			<key>drawingMethodString</key>
			<string>commandRandomizeOn</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleRandomizeOn</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>a</string>
			<key>drawingMethodString</key>
			<string>commandNextColor</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleNextColor</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>b</string>
			<key>drawingMethodString</key>
			<string>commandPreviousColor</string>
			<key>iconIdentifierString</key>
			<string>kBIconRulePreviousColor</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>c</string>
			<key>drawingMethodString</key>
			<string>commandNextFillColor</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleNextFillColor</string>
		</dict>
		<dict>
			<key>productionString</key>
			<string>d</string>
			<key>drawingMethodString</key>
			<string>commandPreviousFillColor</string>
			<key>iconIdentifierString</key>
			<string>kBIconRulePreviousColor</string>
		</dict>
	</array>
	<key>ruleType</key>
	<dict>
		<key>identifier</key>
		<string>default</string>
		<key>name</key>
		<string>Default</string>
		<key>descriptor</key>
		<string>Default rules</string>
	</dict>
</dict>
</plist>
