<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rulesArray</key>
	<array>
		<dict>
			<key>productionString</key>
			<string>A</string>
			<key>drawingMethodString</key>
			<string>commandDoNothing</string>
			<key>iconIdentifierString</key>
			<string>kBIconRulePlace0</string>
			<key>displayIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>B</string>
			<key>drawingMethodString</key>
			<string>commandDoNothing</string>
			<key>iconIdentifierString</key>
			<string>kBIconRulePlace1</string>
			<key>displayIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>C</string>
			<key>drawingMethodString</key>
			<string>commandDoNothing</string>
			<key>iconIdentifierString</key>
			<string>kBIconRulePlace2</string>
			<key>displayIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>D</string>
			<key>drawingMethodString</key>
			<string>commandDoNothing</string>
			<key>iconIdentifierString</key>
			<string>kBIconRulePlace3</string>
			<key>displayIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>E</string>
			<key>drawingMethodString</key>
			<string>commandDoNothing</string>
			<key>iconIdentifierString</key>
			<string>kBIconRulePlace4</string>
			<key>displayIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>F</string>
			<key>drawingMethodString</key>
			<string>commandDrawLine</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleDrawLine</string>
			<key>displayIndex</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>f</string>
			<key>drawingMethodString</key>
			<string>commandMoveByLine</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleMoveByLine</string>
			<key>displayIndex</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>+</string>
			<key>drawingMethodString</key>
			<string>commandRotateCC</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleRotateCC</string>
			<key>displayIndex</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>-</string>
			<key>drawingMethodString</key>
			<string>commandRotateC</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleRotateC</string>
			<key>displayIndex</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>|</string>
			<key>drawingMethodString</key>
			<string>commandReverseDirection</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleReverseDirection</string>
			<key>displayIndex</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>[</string>
			<key>drawingMethodString</key>
			<string>commandPush</string>
			<key>iconIdentifierString</key>
			<string>kBIconRulePush</string>
			<key>displayIndex</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>]</string>
			<key>drawingMethodString</key>
			<string>commandPop</string>
			<key>iconIdentifierString</key>
			<string>kBIconRulePop</string>
			<key>displayIndex</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>#</string>
			<key>drawingMethodString</key>
			<string>commandIncrementLineWidth</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleIncrementLineWidth</string>
			<key>displayIndex</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>!</string>
			<key>drawingMethodString</key>
			<string>commandDecrementLineWidth</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleDecrementLineWidth</string>
			<key>displayIndex</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>@</string>
			<key>drawingMethodString</key>
			<string>commandDrawDot</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleDrawDot</string>
			<key>displayIndex</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>{</string>
			<key>drawingMethodString</key>
			<string>commandOpenPolygon</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleOpenPolygon</string>
			<key>displayIndex</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>}</string>
			<key>drawingMethodString</key>
			<string>commandClosePolygon</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleClosePolygon</string>
			<key>displayIndex</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>&lt;</string>
			<key>drawingMethodString</key>
			<string>commandUpscaleLineLength</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleUpscaleLineLength</string>
			<key>displayIndex</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>&gt;</string>
			<key>drawingMethodString</key>
			<string>commandDownscaleLineLength</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleDownscaleLineLength</string>
			<key>displayIndex</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>&amp;</string>
			<key>drawingMethodString</key>
			<string>commandSwapRotation</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleSwapRotation</string>
			<key>displayIndex</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>(</string>
			<key>drawingMethodString</key>
			<string>commandIncrementAngle</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleIncrementAngle</string>
			<key>displayIndex</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>)</string>
			<key>drawingMethodString</key>
			<string>commandDecrementAngle</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleDecrementAngle</string>
			<key>displayIndex</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>s</string>
			<key>drawingMethodString</key>
			<string>commandStrokeOff</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleStrokeOff</string>
			<key>displayIndex</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>S</string>
			<key>drawingMethodString</key>
			<string>commandStrokeOn</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleStrokeOn</string>
			<key>displayIndex</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>l</string>
			<key>drawingMethodString</key>
			<string>commandFillOff</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleFillOff</string>
			<key>displayIndex</key>
			<integer>19</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>L</string>
			<key>drawingMethodString</key>
			<string>commandFillOn</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleFillOn</string>
			<key>displayIndex</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>r</string>
			<key>drawingMethodString</key>
			<string>commandRandomizeOff</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleRandomizeOff</string>
			<key>displayIndex</key>
			<integer>21</integer>
		</dict>
		<dict>
			<key>productionString</key>
			<string>R</string>
			<key>drawingMethodString</key>
			<string>commandRandomizeOn</string>
			<key>iconIdentifierString</key>
			<string>kBIconRuleRandomizeOn</string>
			<key>displayIndex</key>
			<integer>22</integer>
		</dict>
	</array>
	<key>ruleType</key>
	<dict>
		<key>identifier</key>
		<string>default</string>
		<key>name</key>
		<string>Default</string>
		<key>descriptor</key>
		<string>Default rules</string>
	</dict>
	<key>rules</key>
	<dict>
		<key>F</key>
		<string>commandDrawLine</string>
		<key>f</key>
		<string>commandMoveByLine</string>
		<key>+</key>
		<string>commandRotateCC</string>
		<key>-</key>
		<string>commandRotateC</string>
		<key>|</key>
		<string>commandReverseDirection</string>
		<key>[</key>
		<string>commandPush</string>
		<key>]</key>
		<string>commandPop</string>
		<key>#</key>
		<string>commandIncrementLineWidth</string>
		<key>!</key>
		<string>commandDecrementLineWidth</string>
		<key>@</key>
		<string>commandDrawDot</string>
		<key>{</key>
		<string>commandOpenPolygon</string>
		<key>}</key>
		<string>commandClosePolygon</string>
		<key>&gt;</key>
		<string>commandUpscaleLineLength</string>
		<key>&lt;</key>
		<string>commandDownscaleLineLength</string>
		<key>&amp;</key>
		<string>commandSwapRotation</string>
		<key>(</key>
		<string>commandDecrementAngle</string>
		<key>)</key>
		<string>commandIncrementAngle</string>
		<key>s</key>
		<string>commandStrokeOff</string>
		<key>S</key>
		<string>commandStrokeOn</string>
		<key>l</key>
		<string>commandFillOff</string>
		<key>L</key>
		<string>commandFillOn</string>
		<key>r</key>
		<string>commandRandomizeOff</string>
		<key>R</key>
		<string>commandRandomizeOn</string>
	</dict>
</dict>
</plist>
