<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>Plant</string>
		<key>descriptor</key>
		<string>Leaf</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>A leaf</string>
		<key>axiom</key>
		<string>a</string>
		<key>fill</key>
		<false/>
		<key>stroke</key>
		<true/>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.36</real>
		<key>lineColorFromIdentifier</key>
		<string>green</string>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>0.7853981633974501</real>
		<key>turningAngleIncrement</key>
		<real>0.08726646259972</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>a</key>
			<string>F[+c]Fb</string>
			<key>b</key>
			<string>F[-d]Fa</string>
			<key>c</key>
			<string>a</string>
			<key>d</key>
			<string>b</string>
			<key>F</key>
			<string>&gt;F&lt;</string>
		</dict>
	</dict>
	<dict>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>Modified Von Koch Curve 3</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Von Koch Curve 3</string>
		<key>axiom</key>
		<string>F-F-F-F</string>
		<key>fill</key>
		<false/>
		<key>stroke</key>
		<true/>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<integer>1</integer>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>1.5707963267949</real>
		<key>turningAngleIncrement</key>
		<real>0.08726646259972</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>F</key>
			<string>FF-F--F-F</string>
		</dict>
	</dict>
	<dict>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>Modified Von Koch Curve 2</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Von Koch Curve</string>
		<key>axiom</key>
		<string>F-F-F-F</string>
		<key>fill</key>
		<false/>
		<key>stroke</key>
		<true/>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.5</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>1.5707963267949</real>
		<key>turningAngleIncrement</key>
		<real>0.08726646259972</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>F</key>
			<string>FF-F-F-F-F-F+F</string>
		</dict>
	</dict>
	<dict>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>Modified Von Koch Snowflake</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Von Koch Snowflake</string>
		<key>axiom</key>
		<string>-F</string>
		<key>fill</key>
		<false/>
		<key>stroke</key>
		<true/>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.5</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>1.5707963267949</real>
		<key>turningAngleIncrement</key>
		<real>0.08726646259972</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>F</key>
			<string>F+F-F-F+F</string>
		</dict>
	</dict>
	<dict>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>Islands and Lakes</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Islands and lakes</string>
		<key>axiom</key>
		<string>F+F+F+F</string>
		<key>fill</key>
		<false/>
		<key>stroke</key>
		<true/>
		<key>level</key>
		<integer>2</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.5</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>1.5707963267949</real>
		<key>turningAngleIncrement</key>
		<real>0.08726646259972</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>f</key>
			<string>ffffff</string>
			<key>F</key>
			<string>F+f-FF+F+FF+Ff+FF-f+FF-F-FF-Ff-FFF</string>
		</dict>
	</dict>
	<dict>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>L-System Von Koch Snowflake Curve</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Von Koch Snowflake Curve</string>
		<key>axiom</key>
		<string>F</string>
		<key>fill</key>
		<true/>
		<key>fillColorFromIdentifier</key>
		<string>white75p</string>
		<key>stroke</key>
		<true/>
		<key>lineColorFromIdentifier</key>
		<string>white25p</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>1.0471975511966</real>
		<key>turningAngleIncrement</key>
		<real>0.08726646259972</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>F</key>
			<string>F-F++F-F</string>
		</dict>
	</dict>
	<dict>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>L-System Hilbert Curve</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Hilbert Curve</string>
		<key>axiom</key>
		<string>X</string>
		<key>fill</key>
		<false/>
		<key>stroke</key>
		<true/>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>1.5707963267949</real>
		<key>turningAngleIncrement</key>
		<real>0.08726646259972</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>A</key>
			<string>-BF+AFA+FB-</string>
			<key>B</key>
			<string>+AF-BFB-FA+</string>
		</dict>
	</dict>
	<dict>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>L-System Sierpinsky Gasket</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Sierpinsky Gasket</string>
		<key>axiom</key>
		<string>FXF--FF--FF</string>
		<key>fill</key>
		<false/>
		<key>stroke</key>
		<true/>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.5</real>
		<key>turningAngle</key>
		<real>1.0471975511966</real>
		<key>turningAngleIncrement</key>
		<real>0.08726646259972</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>F</key>
			<string>FF</string>
			<key>A</key>
			<string>--FAF++FAF++FAF--</string>
		</dict>
	</dict>
	<dict>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>L-System Sierpinsky Curve</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Sierpinsky Curve</string>
		<key>axiom</key>
		<string>F+F+F+F</string>
		<key>fill</key>
		<false/>
		<key>stroke</key>
		<true/>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>1.5707963267949</real>
		<key>turningAngleIncrement</key>
		<real>0.08726646259972</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>F</key>
			<string>FF+F+F+F+FF</string>
		</dict>
	</dict>
	<dict>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>L-System Peano Curve</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Peano Curve</string>
		<key>axiom</key>
		<string>X</string>
		<key>fill</key>
		<false/>
		<key>stroke</key>
		<true/>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<integer>1</integer>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<integer>1</integer>
		<key>turningAngle</key>
		<real>1.5707963267949</real>
		<key>turningAngleIncrement</key>
		<integer>0</integer>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>A</key>
			<string>AFBFA+F+BFAFB-F-AFBFA</string>
			<key>B</key>
			<string>BFAFB-F-AFBFA+F+BFAFB</string>
		</dict>
	</dict>
	<dict>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>L-System Dragon curve</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Dragon Curve</string>
		<key>axiom</key>
		<string>X</string>
		<key>fill</key>
		<false/>
		<key>stroke</key>
		<true/>
		<key>lineColorFromIdentifier</key>
		<string>green</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>1.5707963267949</real>
		<key>turningAngleIncrement</key>
		<real>0.08726646259972</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>A</key>
			<string>A+BF+</string>
			<key>B</key>
			<string>-FA-B</string>
		</dict>
	</dict>
	<dict>
		<key>category</key>
		<string>Plant</string>
		<key>descriptor</key>
		<string>L-System Bush</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Fern</string>
		<key>axiom</key>
		<string>SLFFF</string>
		<key>fill</key>
		<false/>
		<key>stroke</key>
		<true/>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>0.31415926535898</real>
		<key>turningAngleIncrement</key>
		<real>0.08726646259972</real>
		<key>baseAngle</key>
		<real>1.5707963267949</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>A</key>
			<string>[+++D][---D]CA</string>
			<key>B</key>
			<string>[-FFF][+FFF]F</string>
			<key>C</key>
			<string>CB</string>
			<key>D</key>
			<string>+E[-D]B</string>
			<key>E</key>
			<string>-D[+E]B</string>
		</dict>
	</dict>
	<dict>
		<key>category</key>
		<string>Plant</string>
		<key>descriptor</key>
		<string>L-System Bush</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Bush00</string>
		<key>axiom</key>
		<string>F</string>
		<key>fill</key>
		<false/>
		<key>stroke</key>
		<true/>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<integer>1</integer>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>0.39269908169872</real>
		<key>turningAngleIncrement</key>
		<real>0.08726646259972</real>
		<key>baseAngle</key>
		<real>1.5707963267949</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>F</key>
			<string>FF+[+F-F-F]-[-F+F+F]</string>
		</dict>
	</dict>
	<dict>
		<key>category</key>
		<string>Plant</string>
		<key>descriptor</key>
		<string>L-System Bush</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Bush0</string>
		<key>axiom</key>
		<string>F</string>
		<key>fill</key>
		<false/>
		<key>stroke</key>
		<true/>
		<key>lineColorFromIdentifier</key>
		<string>green</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>0.44879895051283</real>
		<key>turningAngleIncrement</key>
		<real>0.08726646259972</real>
		<key>baseAngle</key>
		<real>1.5707963267949</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>F</key>
			<string>F[+F]F[-F]F</string>
		</dict>
	</dict>
	<dict>
		<key>category</key>
		<string>Plant</string>
		<key>descriptor</key>
		<string>L-System Bush</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Bush1</string>
		<key>axiom</key>
		<string>G</string>
		<key>fill</key>
		<false/>
		<key>stroke</key>
		<true/>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>0.44879895051283</real>
		<key>turningAngleIncrement</key>
		<real>0.08726646259972</real>
		<key>baseAngle</key>
		<real>1.5707963267949</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>G</key>
			<string>GFX[+G][-G]</string>
			<key>X</key>
			<string>X[-FFF][+FFF]FX</string>
		</dict>
	</dict>
	<dict>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>L-System Von Koch Snowflake</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Von Koch Snowflake</string>
		<key>axiom</key>
		<string>F++F++F</string>
		<key>fill</key>
		<false/>
		<key>stroke</key>
		<true/>
		<key>lineColorFromIdentifier</key>
		<string>white50p</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>1.0471975511966</real>
		<key>turningAngleIncrement</key>
		<real>0.08726646259972</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>F</key>
			<string>F-F++F-F</string>
		</dict>
	</dict>
	<dict>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>L-System Von Koch Island</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Von Koch Island</string>
		<key>axiom</key>
		<string>F+F+F+F</string>
		<key>fill</key>
		<false/>
		<key>stroke</key>
		<true/>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>1.5707963267949</real>
		<key>turningAngleIncrement</key>
		<real>0.08726646259972</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>F</key>
			<string>F+F-F-FF+F+F-F</string>
		</dict>
	</dict>
	<dict>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>L-System Von Koch Squares</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Von Koch Squares</string>
		<key>axiom</key>
		<string>F+F+F+F</string>
		<key>fill</key>
		<false/>
		<key>stroke</key>
		<true/>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>1.5707963267949</real>
		<key>turningAngleIncrement</key>
		<real>0.08726646259972</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>F</key>
			<string>FF+F-F+F+FF</string>
		</dict>
	</dict>
	<dict>
		<key>category</key>
		<string>Plant</string>
		<key>descriptor</key>
		<string>L-System Flower</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Flower</string>
		<key>axiom</key>
		<string>G</string>
		<key>fill</key>
		<false/>
		<key>stroke</key>
		<true/>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>0.45378560551851</real>
		<key>turningAngleIncrement</key>
		<real>0.08726646259972</real>
		<key>baseAngle</key>
		<real>1.5707963267949</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>G</key>
			<string>GFX[+G][-G]</string>
			<key>X</key>
			<string>X[-FFF][+FFF]FX</string>
		</dict>
	</dict>
</array>
</plist>
