<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>Spiral</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>A spiral</string>
		<key>startingRules</key>
		<string>SlAAAA</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.36</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>0.26179938779914</real>
		<key>turningAngleIncrement</key>
		<integer>0</integer>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>A</key>
			<string>B+B+B+B+B+B+</string>
			<key>B</key>
			<string>[F+F+F+F[---B-C]+++++F++++++++F-F-F-F]</string>
			<key>C</key>
			<string>[F+F+F+F[---C]+++++F++++++++F-F-F-F]</string>
		</dict>
		<key>lineColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>Green</string>
				<key>identifier</key>
				<string>green</string>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>1</integer>
				<key>blue</key>
				<integer>0</integer>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Plant</string>
		<key>descriptor</key>
		<string>Leaf</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>A leaf</string>
		<key>startingRules</key>
		<string>SlA</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.36</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>0.7853981633974501</real>
		<key>turningAngleIncrement</key>
		<integer>0</integer>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>A</key>
			<string>F[+C]FB</string>
			<key>B</key>
			<string>F[-D]FA</string>
			<key>C</key>
			<string>A</string>
			<key>D</key>
			<string>B</string>
			<key>F</key>
			<string>&gt;F&lt;</string>
		</dict>
		<key>lineColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>Green</string>
				<key>identifier</key>
				<string>green</string>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>1</integer>
				<key>blue</key>
				<integer>0</integer>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>Modified Von Koch Curve 3</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Von Koch Curve 3</string>
		<key>startingRules</key>
		<string>SlF-F-F-F</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<integer>1</integer>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>1.5707963267949</real>
		<key>turningAngleIncrement</key>
		<integer>0</integer>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>F</key>
			<string>FF-F--F-F</string>
		</dict>
		<key>lineColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>Blue</string>
				<key>identifier</key>
				<string>blue</string>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>0</integer>
				<key>blue</key>
				<integer>1</integer>
				<key>alpha</key>
				<integer>1</integer>
				<key>imagePath</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>Modified Von Koch Curve 2</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Von Koch Curve</string>
		<key>startingRules</key>
		<string>SlF-F-F-F</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.5</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>1.5707963267949</real>
		<key>turningAngleIncrement</key>
		<integer>0</integer>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>F</key>
			<string>FF-F-F-F-F-F+F</string>
		</dict>
		<key>lineColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>Blue</string>
				<key>identifier</key>
				<string>blue</string>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>0</integer>
				<key>blue</key>
				<integer>1</integer>
				<key>alpha</key>
				<integer>1</integer>
				<key>imagePath</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>Modified Von Koch Snowflake</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Von Koch Snowflake</string>
		<key>startingRules</key>
		<string>Sl-F</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.5</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>1.5707963267949</real>
		<key>turningAngleIncrement</key>
		<integer>0</integer>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>F</key>
			<string>F+F-F-F+F</string>
		</dict>
		<key>lineColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>Blue</string>
				<key>identifier</key>
				<string>blue</string>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>0</integer>
				<key>blue</key>
				<integer>1</integer>
				<key>alpha</key>
				<integer>1</integer>
				<key>imagePath</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>Islands and Lakes</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Islands and lakes</string>
		<key>startingRules</key>
		<string>SlF+F+F+F</string>
		<key>level</key>
		<integer>2</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.5</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>1.5707963267949</real>
		<key>turningAngleIncrement</key>
		<integer>0</integer>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>G</key>
			<string>GGGGGG</string>
			<key>F</key>
			<string>F+G-FF+F+FF+FG+FF-G+FF-F-FF-FG-FFF</string>
		</dict>
		<key>lineColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>Blue</string>
				<key>identifier</key>
				<string>blue</string>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>0</integer>
				<key>blue</key>
				<integer>1</integer>
				<key>alpha</key>
				<integer>1</integer>
				<key>imagePath</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>lineColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>White 25%</string>
				<key>identifier</key>
				<string>white25p</string>
				<key>red</key>
				<real>0.25</real>
				<key>green</key>
				<real>0.25</real>
				<key>blue</key>
				<real>0.25</real>
				<key>alpha</key>
				<integer>1</integer>
				<key>imagePath</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Blue</string>
				<key>identifier</key>
				<string>blue</string>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>0</integer>
				<key>blue</key>
				<integer>1</integer>
				<key>alpha</key>
				<integer>1</integer>
				<key>imagePath</key>
				<string></string>
			</dict>
		</array>
		<key>fillColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>White 75%</string>
				<key>identifier</key>
				<string>white75p</string>
				<key>red</key>
				<real>0.75</real>
				<key>green</key>
				<real>0.75</real>
				<key>blue</key>
				<real>0.75</real>
				<key>alpha</key>
				<integer>1</integer>
				<key>imagePath</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Blue</string>
				<key>identifier</key>
				<string>blue</string>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>0</integer>
				<key>blue</key>
				<integer>1</integer>
				<key>alpha</key>
				<integer>1</integer>
				<key>imagePath</key>
				<string></string>
			</dict>
		</array>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>L-System Von Koch Snowflake Curve</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Von Koch Snowflake Curve</string>
		<key>startingRules</key>
		<string>SLF</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>1.0471975511966</real>
		<key>turningAngleIncrement</key>
		<integer>0</integer>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>F</key>
			<string>F-F++F-F</string>
		</dict>
	</dict>
	<dict>
		<key>lineColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>Blue</string>
				<key>identifier</key>
				<string>blue</string>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>0</integer>
				<key>blue</key>
				<integer>1</integer>
				<key>alpha</key>
				<integer>1</integer>
				<key>imagePath</key>
				<string></string>
			</dict>
		</array>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>L-System Hilbert Curve</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Hilbert Curve</string>
		<key>startingRules</key>
		<string>SlA</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>1.5707963267949</real>
		<key>turningAngleIncrement</key>
		<integer>0</integer>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>A</key>
			<string>-BF+AFA+FB-</string>
			<key>B</key>
			<string>+AF-BFB-FA+</string>
		</dict>
	</dict>
	<dict>
		<key>lineColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>Blue</string>
				<key>identifier</key>
				<string>blue</string>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>0</integer>
				<key>blue</key>
				<integer>1</integer>
				<key>alpha</key>
				<integer>1</integer>
				<key>imagePath</key>
				<string></string>
			</dict>
		</array>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>L-System Sierpinsky Gasket</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Sierpinsky Gasket</string>
		<key>startingRules</key>
		<string>SlFAF--FF--FF</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.5</real>
		<key>turningAngle</key>
		<real>1.0471975511966</real>
		<key>turningAngleIncrement</key>
		<integer>0</integer>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>A</key>
			<string>--FAF++FAF++FAF--</string>
			<key>F</key>
			<string>FF</string>
		</dict>
	</dict>
	<dict>
		<key>lineColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>Blue</string>
				<key>identifier</key>
				<string>blue</string>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>0</integer>
				<key>blue</key>
				<integer>1</integer>
				<key>alpha</key>
				<integer>1</integer>
				<key>imagePath</key>
				<string></string>
			</dict>
		</array>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>L-System Sierpinsky Curve</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Sierpinsky Curve</string>
		<key>startingRules</key>
		<string>SlF+F+F+F</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>1.5707963267949</real>
		<key>turningAngleIncrement</key>
		<integer>0</integer>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>F</key>
			<string>FF+F+F+F+FF</string>
		</dict>
	</dict>
	<dict>
		<key>lineColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>Blue</string>
				<key>identifier</key>
				<string>blue</string>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>0</integer>
				<key>blue</key>
				<integer>1</integer>
				<key>alpha</key>
				<integer>1</integer>
				<key>imagePath</key>
				<string></string>
			</dict>
		</array>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>L-System Peano Curve</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Peano Curve</string>
		<key>startingRules</key>
		<string>SlA</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<integer>1</integer>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<integer>1</integer>
		<key>turningAngle</key>
		<real>1.5707963267949</real>
		<key>turningAngleIncrement</key>
		<integer>0</integer>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>A</key>
			<string>AFBFA+F+BFAFB-F-AFBFA</string>
			<key>B</key>
			<string>BFAFB-F-AFBFA+F+BFAFB</string>
		</dict>
	</dict>
	<dict>
		<key>lineColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>Green</string>
				<key>identifier</key>
				<string>green</string>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>1</integer>
				<key>blue</key>
				<integer>0</integer>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string></string>
			</dict>
		</array>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>L-System Dragon curve</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Dragon Curve</string>
		<key>startingRules</key>
		<string>SlA</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>1.5707963267949</real>
		<key>turningAngleIncrement</key>
		<integer>0</integer>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>A</key>
			<string>A+BF+</string>
			<key>B</key>
			<string>-FA-B</string>
		</dict>
	</dict>
	<dict>
		<key>lineColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>Brown 0</string>
				<key>identifier</key>
				<string>brown0</string>
				<key>red</key>
				<real>0.31</real>
				<key>green</key>
				<real>0.118</real>
				<key>blue</key>
				<real>0.078</real>
				<key>alpha</key>
				<integer>1</integer>
				<key>imagePath</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Green</string>
				<key>identifier</key>
				<string>green</string>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>1</integer>
				<key>blue</key>
				<integer>0</integer>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string></string>
			</dict>
		</array>
		<key>category</key>
		<string>Plant</string>
		<key>descriptor</key>
		<string>L-System Bush</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Fern</string>
		<key>startingRules</key>
		<string>SlAEFFF</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>0.31415926535898</real>
		<key>turningAngleIncrement</key>
		<integer>0</integer>
		<key>baseAngle</key>
		<real>1.5707963267949</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>A</key>
			<string>[+++B][---B]DA</string>
			<key>B</key>
			<string>+C[-B]E</string>
			<key>C</key>
			<string>-B[+C]E</string>
			<key>D</key>
			<string>DE</string>
			<key>E</key>
			<string>[-FFF][+FFF]F</string>
		</dict>
	</dict>
	<dict>
		<key>lineColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>Brown 3</string>
				<key>identifier</key>
				<string>brown3</string>
				<key>red</key>
				<real>0.5921568627451</real>
				<key>green</key>
				<real>0.45882352941176</real>
				<key>blue</key>
				<real>0.28235294117647</real>
				<key>alpha</key>
				<integer>1</integer>
				<key>imagePath</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Green</string>
				<key>identifier</key>
				<string>green</string>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>1</integer>
				<key>blue</key>
				<integer>0</integer>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string></string>
			</dict>
		</array>
		<key>category</key>
		<string>Plant</string>
		<key>descriptor</key>
		<string>L-System Bush</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Bush00</string>
		<key>startingRules</key>
		<string>SlF</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<integer>1</integer>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>0.39269908169872</real>
		<key>turningAngleIncrement</key>
		<integer>0</integer>
		<key>baseAngle</key>
		<real>1.5707963267949</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>F</key>
			<string>FF+[+F-F-F]-[-F+F+F]</string>
		</dict>
	</dict>
	<dict>
		<key>lineColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>Green</string>
				<key>identifier</key>
				<string>green</string>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>1</integer>
				<key>blue</key>
				<integer>0</integer>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string></string>
			</dict>
		</array>
		<key>category</key>
		<string>Plant</string>
		<key>descriptor</key>
		<string>L-System Bush</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Bush0</string>
		<key>startingRules</key>
		<string>SlF</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>0.44879895051283</real>
		<key>turningAngleIncrement</key>
		<integer>0</integer>
		<key>baseAngle</key>
		<real>1.5707963267949</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>F</key>
			<string>F[+F]F[-F]F</string>
		</dict>
	</dict>
	<dict>
		<key>lineColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>Brown 3</string>
				<key>identifier</key>
				<string>brown3</string>
				<key>red</key>
				<real>0.5921568627451</real>
				<key>green</key>
				<real>0.45882352941176</real>
				<key>blue</key>
				<real>0.28235294117647</real>
				<key>alpha</key>
				<integer>1</integer>
				<key>imagePath</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Green</string>
				<key>identifier</key>
				<string>green</string>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>1</integer>
				<key>blue</key>
				<integer>0</integer>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string></string>
			</dict>
		</array>
		<key>category</key>
		<string>Plant</string>
		<key>descriptor</key>
		<string>L-System Bush</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Bush1</string>
		<key>startingRules</key>
		<string>SlA</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>0.44879895051283</real>
		<key>turningAngleIncrement</key>
		<integer>0</integer>
		<key>baseAngle</key>
		<real>1.5707963267949</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>A</key>
			<string>AFB[+A][-A]</string>
			<key>B</key>
			<string>B[-FFF][+FFF]FB</string>
		</dict>
	</dict>
	<dict>
		<key>lineColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>White 50%</string>
				<key>identifier</key>
				<string>white50p</string>
				<key>red</key>
				<real>0.5</real>
				<key>green</key>
				<real>0.5</real>
				<key>blue</key>
				<real>0.5</real>
				<key>alpha</key>
				<integer>1</integer>
				<key>imagePath</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Green</string>
				<key>identifier</key>
				<string>green</string>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>1</integer>
				<key>blue</key>
				<integer>0</integer>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string></string>
			</dict>
		</array>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>L-System Von Koch Snowflake</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Von Koch Snowflake</string>
		<key>startingRules</key>
		<string>SlF++F++F</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>1.0471975511966</real>
		<key>turningAngleIncrement</key>
		<integer>0</integer>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>F</key>
			<string>F-F++F-F</string>
		</dict>
	</dict>
	<dict>
		<key>lineColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>Blue</string>
				<key>identifier</key>
				<string>blue</string>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>0</integer>
				<key>blue</key>
				<integer>1</integer>
				<key>alpha</key>
				<integer>1</integer>
				<key>imagePath</key>
				<string></string>
			</dict>
		</array>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>L-System Von Koch Island</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Von Koch Island</string>
		<key>startingRules</key>
		<string>SlF+F+F+F</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>1.5707963267949</real>
		<key>turningAngleIncrement</key>
		<integer>0</integer>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>F</key>
			<string>F+F-F-FF+F+F-F</string>
		</dict>
	</dict>
	<dict>
		<key>lineColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>Blue</string>
				<key>identifier</key>
				<string>blue</string>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>0</integer>
				<key>blue</key>
				<integer>1</integer>
				<key>alpha</key>
				<integer>1</integer>
				<key>imagePath</key>
				<string></string>
			</dict>
		</array>
		<key>category</key>
		<string>Geometric</string>
		<key>descriptor</key>
		<string>L-System Von Koch Squares</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Von Koch Squares</string>
		<key>startingRules</key>
		<string>SlF+F+F+F</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>1.5707963267949</real>
		<key>turningAngleIncrement</key>
		<integer>0</integer>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>F</key>
			<string>FF+F-F+F+FF</string>
		</dict>
	</dict>
	<dict>
		<key>lineColors</key>
		<array>
			<dict>
				<key>name</key>
				<string>Brown 3</string>
				<key>identifier</key>
				<string>brown3</string>
				<key>red</key>
				<real>0.5921568627451</real>
				<key>green</key>
				<real>0.45882352941176</real>
				<key>blue</key>
				<real>0.28235294117647</real>
				<key>alpha</key>
				<integer>1</integer>
				<key>imagePath</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Green</string>
				<key>identifier</key>
				<string>green</string>
				<key>red</key>
				<integer>0</integer>
				<key>green</key>
				<integer>1</integer>
				<key>blue</key>
				<integer>0</integer>
				<key>alpha</key>
				<real>1</real>
				<key>imagePath</key>
				<string></string>
			</dict>
		</array>
		<key>category</key>
		<string>Plant</string>
		<key>descriptor</key>
		<string>L-System Flower</string>
		<key>isImmutable</key>
		<true/>
		<key>name</key>
		<string>Flower</string>
		<key>startingRules</key>
		<string>SlA</string>
		<key>level</key>
		<integer>4</integer>
		<key>lineLength</key>
		<integer>10</integer>
		<key>lineLengthScaleFactor</key>
		<real>1.25</real>
		<key>lineWidth</key>
		<integer>2</integer>
		<key>lineWidthIncrement</key>
		<real>0.25</real>
		<key>turningAngle</key>
		<real>0.45378560551851</real>
		<key>turningAngleIncrement</key>
		<integer>0</integer>
		<key>baseAngle</key>
		<real>1.5707963267949</real>
		<key>drawingRulesType.identifier</key>
		<string>default</string>
		<key>replacementRules</key>
		<dict>
			<key>A</key>
			<string>AFB[+A][-A]</string>
			<key>B</key>
			<string>B[-FFF][+FFF]FB</string>
		</dict>
	</dict>
</array>
</plist>
