<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>White 75%</string>
		<key>identifier</key>
		<string>white75p</string>
		<key>red</key>
		<real>0.75</real>
		<key>green</key>
		<real>0.75</real>
		<key>blue</key>
		<real>0.75</real>
		<key>alpha</key>
		<integer>1</integer>
		<key>imagePath</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>White 25%</string>
		<key>identifier</key>
		<string>white25p</string>
		<key>red</key>
		<real>0.25</real>
		<key>green</key>
		<real>0.25</real>
		<key>blue</key>
		<real>0.25</real>
		<key>alpha</key>
		<integer>1</integer>
		<key>imagePath</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>White 50%</string>
		<key>identifier</key>
		<string>white50p</string>
		<key>red</key>
		<real>0.5</real>
		<key>green</key>
		<real>0.5</real>
		<key>blue</key>
		<real>0.5</real>
		<key>alpha</key>
		<integer>1</integer>
		<key>imagePath</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bulging</string>
		<key>identifier</key>
		<string>bulging</string>
		<key>red</key>
		<integer>1</integer>
		<key>green</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>1</integer>
		<key>alpha</key>
		<integer>1</integer>
		<key>imagePath</key>
		<string>bulging</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fine Linen</string>
		<key>identifier</key>
		<string>fine_linen</string>
		<key>red</key>
		<integer>1</integer>
		<key>green</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>1</integer>
		<key>alpha</key>
		<integer>1</integer>
		<key>imagePath</key>
		<string>linen-fine</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Space</string>
		<key>identifier</key>
		<string>space</string>
		<key>red</key>
		<integer>1</integer>
		<key>green</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>1</integer>
		<key>alpha</key>
		<integer>1</integer>
		<key>imagePath</key>
		<string>space</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Stone</string>
		<key>identifier</key>
		<string>stone</string>
		<key>red</key>
		<integer>1</integer>
		<key>green</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>1</integer>
		<key>alpha</key>
		<integer>1</integer>
		<key>imagePath</key>
		<string>stone</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky</string>
		<key>identifier</key>
		<string>sky</string>
		<key>red</key>
		<integer>1</integer>
		<key>green</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>1</integer>
		<key>alpha</key>
		<integer>1</integer>
		<key>imagePath</key>
		<string>sky</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Imitation Leather</string>
		<key>identifier</key>
		<string>imitation_leather</string>
		<key>red</key>
		<integer>1</integer>
		<key>green</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>1</integer>
		<key>alpha</key>
		<integer>1</integer>
		<key>imagePath</key>
		<string>imitation_leather</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Interstices</string>
		<key>identifier</key>
		<string>interstices</string>
		<key>red</key>
		<integer>1</integer>
		<key>green</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>1</integer>
		<key>alpha</key>
		<integer>1</integer>
		<key>imagePath</key>
		<string>interstices</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zen</string>
		<key>identifier</key>
		<string>zensand</string>
		<key>red</key>
		<integer>1</integer>
		<key>green</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>1</integer>
		<key>alpha</key>
		<integer>1</integer>
		<key>imagePath</key>
		<string>zensand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>White</string>
		<key>identifier</key>
		<string>white</string>
		<key>red</key>
		<integer>1</integer>
		<key>green</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>1</integer>
		<key>alpha</key>
		<integer>1</integer>
		<key>imagePath</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Clear</string>
		<key>identifier</key>
		<string>clear</string>
		<key>red</key>
		<integer>1</integer>
		<key>green</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>1</integer>
		<key>alpha</key>
		<integer>0</integer>
		<key>imagePath</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Black</string>
		<key>identifier</key>
		<string>black</string>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<integer>1</integer>
		<key>imagePath</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Marble Dark</string>
		<key>identifier</key>
		<string>marble_dark</string>
		<key>red</key>
		<integer>1</integer>
		<key>green</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>1</integer>
		<key>alpha</key>
		<integer>1</integer>
		<key>imagePath</key>
		<string>marble_dark</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Brown 4</string>
		<key>identifier</key>
		<string>brown4</string>
		<key>red</key>
		<real>0.54509803921569</real>
		<key>green</key>
		<real>0.40392156862745</real>
		<key>blue</key>
		<real>0.24705882352941</real>
		<key>alpha</key>
		<integer>1</integer>
		<key>imagePath</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Brown 3</string>
		<key>identifier</key>
		<string>brown3</string>
		<key>red</key>
		<real>0.5921568627451</real>
		<key>green</key>
		<real>0.45882352941176</real>
		<key>blue</key>
		<real>0.28235294117647</real>
		<key>alpha</key>
		<integer>1</integer>
		<key>imagePath</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Brown 2</string>
		<key>identifier</key>
		<string>brown2</string>
		<key>red</key>
		<real>0.42745098039216</real>
		<key>green</key>
		<real>0.18039215686275</real>
		<key>blue</key>
		<real>0.12156862745098</real>
		<key>alpha</key>
		<integer>1</integer>
		<key>imagePath</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Brown 0</string>
		<key>identifier</key>
		<string>brown0</string>
		<key>red</key>
		<real>0.31</real>
		<key>green</key>
		<real>0.118</real>
		<key>blue</key>
		<real>0.078</real>
		<key>alpha</key>
		<integer>1</integer>
		<key>imagePath</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Brown 1</string>
		<key>identifier</key>
		<string>brown1</string>
		<key>red</key>
		<real>0.34901960784314</real>
		<key>green</key>
		<real>0.13333333333333</real>
		<key>blue</key>
		<real>0.08627450980392</real>
		<key>alpha</key>
		<integer>1</integer>
		<key>imagePath</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Red</string>
		<key>identifier</key>
		<string>red</string>
		<key>red</key>
		<real>1</real>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>1</real>
		<key>imagePath</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Blue</string>
		<key>identifier</key>
		<string>blue</string>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<integer>1</integer>
		<key>alpha</key>
		<integer>1</integer>
		<key>imagePath</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Green</string>
		<key>identifier</key>
		<string>green</string>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>1</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>1</real>
		<key>imagePath</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Aqua</string>
		<key>identifier</key>
		<string>aqua</string>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<real>0.8</real>
		<key>blue</key>
		<real>0.8</real>
		<key>alpha</key>
		<real>1</real>
		<key>imagePath</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Purple</string>
		<key>identifier</key>
		<string>purple</string>
		<key>red</key>
		<real>0.8</real>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<real>0.8</real>
		<key>alpha</key>
		<real>1</real>
		<key>imagePath</key>
		<string></string>
	</dict>
</array>
</plist>
