---
# Only the main Sass file needs front matter (the dashes are enough)
---

$primary-color: #A30009 !default;
$link-color: $primary-color !default;
$footer-background-color: mix($primary-color, #000, 80%) !default;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
