<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DrawingRules</key>
	<dict>
		<key>F</key>
		<string>drawLine</string>
		<key>f</key>
		<string>moveByLine</string>
		<key>+</key>
		<string>rotateCC</string>
		<key>-</key>
		<string>rotateC</string>
		<key>|</key>
		<string>reverseDirection</string>
		<key>[</key>
		<string>push</string>
		<key>]</key>
		<string>pop</string>
		<key>#</key>
		<string>incrementLineWidth</string>
		<key>!</key>
		<string>decrementLineWidth</string>
		<key>@</key>
		<string>drawDot</string>
		<key>{</key>
		<string>openPolygon</string>
		<key>}</key>
		<string>closePolygon</string>
		<key>&gt;</key>
		<string>upscaleLineLength</string>
		<key>&lt;</key>
		<string>downscaleLineLength</string>
		<key>&amp;</key>
		<string>swapRotation</string>
		<key>(</key>
		<string>decrementAngle</string>
		<key>)</key>
		<string>incrementAngle</string>
	</dict>
	<key>InitialLSFractals</key>
	<array>
		<dict>
			<key>category</key>
			<string>Geometric</string>
			<key>descriptor</key>
			<string>L-System Von Koch Snowflake Curve</string>
			<key>isImmutable</key>
			<true/>
			<key>name</key>
			<string>Von Koch Snowflake Curve</string>
			<key>axiom</key>
			<string>F</string>
			<key>fill</key>
			<false/>
			<key>stroke</key>
			<true/>
			<key>level</key>
			<integer>4</integer>
			<key>lineLength</key>
			<integer>10</integer>
			<key>lineLengthScaleFactor</key>
			<integer>1</integer>
			<key>lineWidth</key>
			<integer>2</integer>
			<key>lineWidthIncrement</key>
			<integer>1</integer>
			<key>turningAngle</key>
			<real>1.0471975511966</real>
			<key>turningAngleIncrement</key>
			<integer>0</integer>
			<key>replacementRules</key>
			<dict>
				<key>F</key>
				<string>F-F++F-F</string>
			</dict>
		</dict>
		<dict>
			<key>category</key>
			<string>Geometric</string>
			<key>descriptor</key>
			<string>L-System Hilbert Curve</string>
			<key>isImmutable</key>
			<true/>
			<key>name</key>
			<string>Hilbert Curve</string>
			<key>axiom</key>
			<string>X</string>
			<key>fill</key>
			<false/>
			<key>stroke</key>
			<true/>
			<key>level</key>
			<integer>4</integer>
			<key>lineLength</key>
			<integer>10</integer>
			<key>lineLengthScaleFactor</key>
			<integer>1</integer>
			<key>lineWidth</key>
			<integer>2</integer>
			<key>lineWidthIncrement</key>
			<integer>1</integer>
			<key>turningAngle</key>
			<real>1.5707963267949</real>
			<key>turningAngleIncrement</key>
			<integer>0</integer>
			<key>replacementRules</key>
			<dict>
				<key>Y</key>
				<string>+XF-YFY-FX+</string>
				<key>X</key>
				<string>-YF+XFX+FY-</string>
			</dict>
		</dict>
		<dict>
			<key>category</key>
			<string>Geometric</string>
			<key>descriptor</key>
			<string>L-System Sierpinsky Gasket</string>
			<key>isImmutable</key>
			<true/>
			<key>name</key>
			<string>Sierpinsky Gasket</string>
			<key>axiom</key>
			<string>FXF--FF--FF</string>
			<key>fill</key>
			<false/>
			<key>stroke</key>
			<true/>
			<key>level</key>
			<integer>4</integer>
			<key>lineLength</key>
			<integer>10</integer>
			<key>lineLengthScaleFactor</key>
			<integer>1</integer>
			<key>lineWidth</key>
			<integer>2</integer>
			<key>lineWidthIncrement</key>
			<integer>1</integer>
			<key>turningAngle</key>
			<real>1.0471975511966</real>
			<key>turningAngleIncrement</key>
			<integer>0</integer>
			<key>replacementRules</key>
			<dict>
				<key>F</key>
				<string>FF</string>
				<key>X</key>
				<string>--FXF++FXF++FXF--</string>
			</dict>
		</dict>
		<dict>
			<key>category</key>
			<string>Geometric</string>
			<key>descriptor</key>
			<string>L-System Sierpinsky Curve</string>
			<key>isImmutable</key>
			<true/>
			<key>name</key>
			<string>Sierpinsky Curve</string>
			<key>axiom</key>
			<string>F+F+F+F</string>
			<key>fill</key>
			<false/>
			<key>stroke</key>
			<true/>
			<key>level</key>
			<integer>4</integer>
			<key>lineLength</key>
			<integer>10</integer>
			<key>lineLengthScaleFactor</key>
			<integer>1</integer>
			<key>lineWidth</key>
			<integer>2</integer>
			<key>lineWidthIncrement</key>
			<integer>1</integer>
			<key>turningAngle</key>
			<real>1.5707963267949</real>
			<key>turningAngleIncrement</key>
			<integer>0</integer>
			<key>replacementRules</key>
			<dict>
				<key>F</key>
				<string>FF+F+F+F+FF</string>
			</dict>
		</dict>
		<dict>
			<key>category</key>
			<string>Geometric</string>
			<key>descriptor</key>
			<string>L-System Peano Curve</string>
			<key>isImmutable</key>
			<true/>
			<key>name</key>
			<string>Peano Curve</string>
			<key>axiom</key>
			<string>X</string>
			<key>fill</key>
			<false/>
			<key>stroke</key>
			<true/>
			<key>level</key>
			<integer>4</integer>
			<key>lineLength</key>
			<integer>10</integer>
			<key>lineLengthScaleFactor</key>
			<integer>1</integer>
			<key>lineWidth</key>
			<integer>2</integer>
			<key>lineWidthIncrement</key>
			<integer>1</integer>
			<key>turningAngle</key>
			<real>1.5707963267949</real>
			<key>turningAngleIncrement</key>
			<integer>0</integer>
			<key>replacementRules</key>
			<dict>
				<key>X</key>
				<string>XFYFX+F+YFXFY-F-XFYFX</string>
				<key>Y</key>
				<string>YFXFY-F-XFYFX+F+YFXFY</string>
			</dict>
		</dict>
		<dict>
			<key>category</key>
			<string>Geometric</string>
			<key>descriptor</key>
			<string>L-System Dragon curve</string>
			<key>isImmutable</key>
			<true/>
			<key>name</key>
			<string>Dragon Curve</string>
			<key>axiom</key>
			<string>X</string>
			<key>fill</key>
			<false/>
			<key>stroke</key>
			<true/>
			<key>level</key>
			<integer>4</integer>
			<key>lineLength</key>
			<integer>10</integer>
			<key>lineLengthScaleFactor</key>
			<integer>1</integer>
			<key>lineWidth</key>
			<integer>2</integer>
			<key>lineWidthIncrement</key>
			<integer>1</integer>
			<key>turningAngle</key>
			<real>1.5707963267949</real>
			<key>turningAngleIncrement</key>
			<integer>0</integer>
			<key>replacementRules</key>
			<dict>
				<key>X</key>
				<string>X+YF+</string>
				<key>Y</key>
				<string>-FX-Y</string>
			</dict>
		</dict>
		<dict>
			<key>category</key>
			<string>Plant</string>
			<key>descriptor</key>
			<string>L-System Bush</string>
			<key>isImmutable</key>
			<true/>
			<key>name</key>
			<string>Fern</string>
			<key>axiom</key>
			<string>SLFFF</string>
			<key>fill</key>
			<false/>
			<key>stroke</key>
			<true/>
			<key>level</key>
			<integer>4</integer>
			<key>lineLength</key>
			<integer>10</integer>
			<key>lineLengthScaleFactor</key>
			<integer>1</integer>
			<key>lineWidth</key>
			<integer>2</integer>
			<key>lineWidthIncrement</key>
			<integer>1</integer>
			<key>turningAngle</key>
			<real>0.31415926535898</real>
			<key>turningAngleIncrement</key>
			<integer>0</integer>
			<key>baseAngle</key>
			<real>1.5707963267949</real>
			<key>replacementRules</key>
			<dict>
				<key>S</key>
				<string>[+++G][---G]TS</string>
				<key>G</key>
				<string>+H[-G]L</string>
				<key>H</key>
				<string>-G[+H]L</string>
				<key>T</key>
				<string>TL</string>
				<key>L</key>
				<string>[-FFF][+FFF]F</string>
			</dict>
		</dict>
		<dict>
			<key>category</key>
			<string>Plant</string>
			<key>descriptor</key>
			<string>L-System Bush</string>
			<key>isImmutable</key>
			<true/>
			<key>name</key>
			<string>Bush00</string>
			<key>axiom</key>
			<string>F</string>
			<key>fill</key>
			<false/>
			<key>stroke</key>
			<true/>
			<key>level</key>
			<integer>4</integer>
			<key>lineLength</key>
			<integer>10</integer>
			<key>lineLengthScaleFactor</key>
			<integer>1</integer>
			<key>lineWidth</key>
			<integer>2</integer>
			<key>lineWidthIncrement</key>
			<integer>1</integer>
			<key>turningAngle</key>
			<real>0.39269908169872</real>
			<key>turningAngleIncrement</key>
			<integer>0</integer>
			<key>baseAngle</key>
			<real>1.5707963267949</real>
			<key>replacementRules</key>
			<dict>
				<key>F</key>
				<string>FF+[+F-F-F]-[-F+F+F]</string>
			</dict>
		</dict>
		<dict>
			<key>category</key>
			<string>Plant</string>
			<key>descriptor</key>
			<string>L-System Bush</string>
			<key>isImmutable</key>
			<true/>
			<key>name</key>
			<string>Bush0</string>
			<key>axiom</key>
			<string>F</string>
			<key>fill</key>
			<false/>
			<key>stroke</key>
			<true/>
			<key>level</key>
			<integer>4</integer>
			<key>lineLength</key>
			<integer>10</integer>
			<key>lineLengthScaleFactor</key>
			<integer>1</integer>
			<key>lineWidth</key>
			<integer>2</integer>
			<key>lineWidthIncrement</key>
			<integer>1</integer>
			<key>turningAngle</key>
			<real>0.44879895051283</real>
			<key>turningAngleIncrement</key>
			<integer>0</integer>
			<key>baseAngle</key>
			<real>1.5707963267949</real>
			<key>replacementRules</key>
			<dict>
				<key>F</key>
				<string>F[+F]F[-F]F</string>
			</dict>
		</dict>
		<dict>
			<key>category</key>
			<string>Plant</string>
			<key>descriptor</key>
			<string>L-System Bush</string>
			<key>isImmutable</key>
			<true/>
			<key>name</key>
			<string>Bush1</string>
			<key>axiom</key>
			<string>G</string>
			<key>fill</key>
			<false/>
			<key>stroke</key>
			<true/>
			<key>level</key>
			<integer>4</integer>
			<key>lineLength</key>
			<integer>10</integer>
			<key>lineLengthScaleFactor</key>
			<integer>1</integer>
			<key>lineWidth</key>
			<integer>2</integer>
			<key>lineWidthIncrement</key>
			<integer>1</integer>
			<key>turningAngle</key>
			<real>0.44879895051283</real>
			<key>turningAngleIncrement</key>
			<integer>0</integer>
			<key>baseAngle</key>
			<real>1.5707963267949</real>
			<key>replacementRules</key>
			<dict>
				<key>G</key>
				<string>GFX[+G][-G]</string>
				<key>X</key>
				<string>X[-FFF][+FFF]FX</string>
			</dict>
		</dict>
		<dict>
			<key>category</key>
			<string>Geometric</string>
			<key>descriptor</key>
			<string>L-System Von Koch Snowflake</string>
			<key>isImmutable</key>
			<true/>
			<key>name</key>
			<string>Von Koch Snowflake</string>
			<key>axiom</key>
			<string>F++F++F</string>
			<key>fill</key>
			<false/>
			<key>stroke</key>
			<true/>
			<key>level</key>
			<integer>4</integer>
			<key>lineLength</key>
			<integer>10</integer>
			<key>lineLengthScaleFactor</key>
			<integer>1</integer>
			<key>lineWidth</key>
			<integer>2</integer>
			<key>lineWidthIncrement</key>
			<integer>1</integer>
			<key>turningAngle</key>
			<real>1.0471975511966</real>
			<key>turningAngleIncrement</key>
			<integer>0</integer>
			<key>replacementRules</key>
			<dict>
				<key>F</key>
				<string>F-F++F-F</string>
			</dict>
		</dict>
		<dict>
			<key>category</key>
			<string>Geometric</string>
			<key>descriptor</key>
			<string>L-System Von Koch Island</string>
			<key>isImmutable</key>
			<true/>
			<key>name</key>
			<string>Von Koch Island</string>
			<key>axiom</key>
			<string>F+F+F+F</string>
			<key>fill</key>
			<false/>
			<key>stroke</key>
			<true/>
			<key>level</key>
			<integer>4</integer>
			<key>lineLength</key>
			<integer>10</integer>
			<key>lineLengthScaleFactor</key>
			<integer>1</integer>
			<key>lineWidth</key>
			<integer>2</integer>
			<key>lineWidthIncrement</key>
			<integer>1</integer>
			<key>turningAngle</key>
			<real>1.5707963267949</real>
			<key>turningAngleIncrement</key>
			<integer>0</integer>
			<key>replacementRules</key>
			<dict>
				<key>F</key>
				<string>F+F-F-FF+F+F-F</string>
			</dict>
		</dict>
		<dict>
			<key>category</key>
			<string>Geometric</string>
			<key>descriptor</key>
			<string>L-System Von Koch Squares</string>
			<key>isImmutable</key>
			<true/>
			<key>name</key>
			<string>Von Koch Squares</string>
			<key>axiom</key>
			<string>F+F+F+F</string>
			<key>fill</key>
			<false/>
			<key>stroke</key>
			<true/>
			<key>level</key>
			<integer>4</integer>
			<key>lineLength</key>
			<integer>10</integer>
			<key>lineLengthScaleFactor</key>
			<integer>1</integer>
			<key>lineWidth</key>
			<integer>2</integer>
			<key>lineWidthIncrement</key>
			<integer>1</integer>
			<key>turningAngle</key>
			<real>1.5707963267949</real>
			<key>turningAngleIncrement</key>
			<integer>0</integer>
			<key>replacementRules</key>
			<dict>
				<key>F</key>
				<string>FF+F-F+F+FF</string>
			</dict>
		</dict>
		<dict>
			<key>category</key>
			<string>Plant</string>
			<key>descriptor</key>
			<string>L-System Flower</string>
			<key>isImmutable</key>
			<true/>
			<key>name</key>
			<string>Flower</string>
			<key>axiom</key>
			<string>G</string>
			<key>fill</key>
			<false/>
			<key>stroke</key>
			<true/>
			<key>level</key>
			<integer>4</integer>
			<key>lineLength</key>
			<integer>10</integer>
			<key>lineLengthScaleFactor</key>
			<integer>1</integer>
			<key>lineWidth</key>
			<integer>2</integer>
			<key>lineWidthIncrement</key>
			<integer>1</integer>
			<key>turningAngle</key>
			<real>0.45378560551851</real>
			<key>turningAngleIncrement</key>
			<integer>0</integer>
			<key>baseAngle</key>
			<real>1.5707963267949</real>
			<key>replacementRules</key>
			<dict>
				<key>G</key>
				<string>GFX[+G][-G]</string>
				<key>X</key>
				<string>X[-FFF][+FFF]FX</string>
			</dict>
		</dict>
	</array>
	<key>InitialColors</key>
	<array>
		<dict>
			<key>name</key>
			<string>Bulging</string>
			<key>identifier</key>
			<string>bulging</string>
			<key>red</key>
			<integer>1</integer>
			<key>green</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>1</integer>
			<key>alpha</key>
			<integer>1</integer>
			<key>imagePath</key>
			<string>bulging.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fine Linen</string>
			<key>identifier</key>
			<string>fine_linen</string>
			<key>red</key>
			<integer>1</integer>
			<key>green</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>1</integer>
			<key>alpha</key>
			<integer>1</integer>
			<key>imagePath</key>
			<string>linen-fine.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Space</string>
			<key>identifier</key>
			<string>space</string>
			<key>red</key>
			<integer>1</integer>
			<key>green</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>1</integer>
			<key>alpha</key>
			<integer>1</integer>
			<key>imagePath</key>
			<string>space.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Stone</string>
			<key>identifier</key>
			<string>stone</string>
			<key>red</key>
			<integer>1</integer>
			<key>green</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>1</integer>
			<key>alpha</key>
			<integer>1</integer>
			<key>imagePath</key>
			<string>stone.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sky</string>
			<key>identifier</key>
			<string>sky</string>
			<key>red</key>
			<integer>1</integer>
			<key>green</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>1</integer>
			<key>alpha</key>
			<integer>1</integer>
			<key>imagePath</key>
			<string>sky.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Imitation Leather</string>
			<key>identifier</key>
			<string>imitation_leather</string>
			<key>red</key>
			<integer>1</integer>
			<key>green</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>1</integer>
			<key>alpha</key>
			<integer>1</integer>
			<key>imagePath</key>
			<string>imitation_leather.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>White</string>
			<key>identifier</key>
			<string>white</string>
			<key>red</key>
			<integer>1</integer>
			<key>green</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>1</integer>
			<key>alpha</key>
			<integer>1</integer>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Clear</string>
			<key>identifier</key>
			<string>clear</string>
			<key>red</key>
			<integer>1</integer>
			<key>green</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>1</integer>
			<key>alpha</key>
			<integer>0</integer>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Black</string>
			<key>identifier</key>
			<string>black</string>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>alpha</key>
			<integer>1</integer>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Marble Dark</string>
			<key>identifier</key>
			<string>marble_dark</string>
			<key>red</key>
			<integer>1</integer>
			<key>green</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>1</integer>
			<key>alpha</key>
			<integer>1</integer>
			<key>imagePath</key>
			<string>marble_dark.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Brown 4</string>
			<key>identifier</key>
			<string>brown4</string>
			<key>red</key>
			<real>0.54509803921569</real>
			<key>green</key>
			<real>0.40392156862745</real>
			<key>blue</key>
			<real>0.24705882352941</real>
			<key>alpha</key>
			<integer>1</integer>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Brown 3</string>
			<key>identifier</key>
			<string>brown3</string>
			<key>red</key>
			<real>0.5921568627451</real>
			<key>green</key>
			<real>0.45882352941176</real>
			<key>blue</key>
			<real>0.28235294117647</real>
			<key>alpha</key>
			<integer>1</integer>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Brown 2</string>
			<key>identifier</key>
			<string>brown2</string>
			<key>red</key>
			<real>0.42745098039216</real>
			<key>green</key>
			<real>0.18039215686275</real>
			<key>blue</key>
			<real>0.12156862745098</real>
			<key>alpha</key>
			<integer>1</integer>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Brown 0</string>
			<key>identifier</key>
			<string>brown0</string>
			<key>red</key>
			<real>0.31</real>
			<key>green</key>
			<real>0.118</real>
			<key>blue</key>
			<real>0.078</real>
			<key>alpha</key>
			<integer>1</integer>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Brown 1</string>
			<key>identifier</key>
			<string>brown1</string>
			<key>red</key>
			<real>0.34901960784314</real>
			<key>green</key>
			<real>0.13333333333333</real>
			<key>blue</key>
			<real>0.08627450980392</real>
			<key>alpha</key>
			<integer>1</integer>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Red</string>
			<key>identifier</key>
			<string>red</string>
			<key>red</key>
			<real>1</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>alpha</key>
			<real>1</real>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Blue</string>
			<key>identifier</key>
			<string>blue</string>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>1</integer>
			<key>alpha</key>
			<integer>1</integer>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Green</string>
			<key>identifier</key>
			<string>green</string>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>alpha</key>
			<real>1</real>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Aqua</string>
			<key>identifier</key>
			<string>aqua</string>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<real>0.8</real>
			<key>alpha</key>
			<real>1</real>
			<key>imagePath</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>Purple</string>
			<key>identifier</key>
			<string>purple</string>
			<key>red</key>
			<real>0.8</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<real>0.8</real>
			<key>alpha</key>
			<real>1</real>
			<key>imagePath</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
